/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2016, 11:35:59 PM
    Author     : Stefan
*/

.flash{width:200px; height:50px; position: absolute; float:right;  left: 50%;}
.flash-list{list-style-type: none;}
.flash-list > li{
    width:200px;
    margin-bottom: 10px;
    padding:3px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.flash-success{
    color: #205a21; /*color for success*/
    background-color: #c6f1b5; /*color for success*/
    border-color: #a3b991 !important; /* color for success*/
}
.flash-info{
    color: #236f94; /*color for info*/
    background-color: #bbddef;/*color for info*/
    border-color: #88b4bd !important;/*color for info*/
}
.flash-warning{
    color: #7d5c22; /*color for warning*/
    background-color: #f3edd1; /*color for warning*/
    border-color: #e4ce9f !important; /*color for warning*/
}
.flash-danger{
    border-color: #dc9ea8 !important; /*color for alert */
    color: #881919; /*color for alert */
    background-color: #f2dede ; /*color for alert */
}